
services:
  mysql:
    image: mysql:8.0.41-debian
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  minio:
    image: minio/minio
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: hoang
      MINIO_ROOT_PASSWORD: hoangviettran
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # API port
      - "9001:9001"   # Web console
    volumes:
      - minio_data:/data

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mysql_data:
  redis_data:
  minio_data: